@import url('https://fonts.googleapis.com/css?family=Coiny|Pacifico');

body {
  background-color: aliceblue;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-shadow: 0.5vw 0.5vw 1vw gray;
  font-size: 6vw;
  margin: 0;
}

b {
  font-family: 'Coiny', cursive;
}

p {
  font-family: 'Pacifico', cursive;
  font-size: 2vw;
  margin: 0;
}

.video-chat {
  padding: 1vw;
  max-width: 80vw;
  height: 33vw;
}

.call-button {
  display: block;
  text-align: center;
  margin: auto;
  cursor: pointer;
  padding: 1vw;
  border-radius: 100%;
  height: 7vw;
  width: 7vw;
  outline: none;
}
